/* font-family: 'Orbitron', sans-serif;
font-family: 'Quattrocento Sans', sans-serif; */

body {
  font-family: 'Quattrocento Sans', sans-serif;
}

header {
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.2rem;
  /* font-family: 'Orbitron', sans-serif; */
}

header h1 {
  /* font-family: 'Anton', sans-serif; */
  font-family: 'Orbitron', sans-serif;
  font-size: 2.3rem;
}



body {
  text-align: center;
  background-color: orange;
}


.grid {
  width: 900px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.grid>div {
  background-color: rgb(242, 242, 242);
  min-width: 30%;
  height: 420px;
  display: flex;
  flex-direction: column-reverse;
}

.block {
  background-color: grey;
  height: 30px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: brown;
  pointer-events: none;
  /* background-image: url("assets/stone_wall.jpg"); */
}

.details {
  display: flex;
  flex-direction: column;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  padding: 5px;
  margin: 5px auto;
}

.label {
  display: inline-block;
  width: 100%;
}

#status {
  display: inline-block;
  width: 100%;
}

#startBtn {
  margin: 10px;
  padding: 10px;
  background-color: orange;
}

#blockSelect {
  transform: scale(1.5);
}