/* font-family: 'Orbitron', sans-serif;
font-family: 'Quattrocento Sans', sans-serif; */

body {
  font-family: 'Quattrocento Sans', sans-serif;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.2rem;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 2.3rem;
}

header p {
  width: 50%;
  margin: 15px auto;
}


body {
  text-align: center;
  background-color: orange;
}


.grid {
  width: 900px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  visibility: hidden;
}

.grid>div {
  background-color: rgb(242, 242, 242);
  min-width: 30%;
  height: 420px;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 10px;
}

.block {
  background-color: grey;
  height: 30px;
  border: 1px solid black;
  margin: 0 auto;
  background-color: brown;
  pointer-events: none;
  /* background-image: url("assets/stone_wall.jpg"); */
}

.details {
  display: flex;
  flex-direction: column;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  padding: 5px;
  margin: 5px auto;
  border-radius: 10px;
  font-size: 1.2rem;

}

.label {
  display: inline-block;
  width: 100%;
}

#status {
  display: inline-block;
  width: 100%;
  transform: scale(0.8);
}

#startBtn {
  margin: 10px;
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
}

#startBtn:hover {
  background-color: rgb(250, 191, 80);
}



#blockSelect {
  font-size: 1.2rem;
  display: inline-block;

}

#status {
  display: inline-block;
  width: 250px;
}

.detail_col_two {
  visibility: hidden;
}

.detail_col_three {
  visibility: hidden;
}

footer {
  font-size: 1.2rem;
}