header {
  text-align: center;
}


.grid {
  min-height: 400px;
  max-width: 640px;
  border: 1px solid black;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.grid>div {
  background-color: rgb(242, 242, 242);
  min-width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column-reverse;
}

.block {
  background-color: grey;
  height: 50px;
  border: 1px solid black;
  margin: 0 auto;
}